EKS_CLUSTER_NAME="${EKS_CLUSTER_NAME}"
PREFIX="${PREFIX}"
ZONE="${ZONE}"
INGRESS_BACKEND_SERVICE_NAME="${INGRESS_BACKEND_SERVICE_NAME}"
INGRESS_BACKEND_SERVICE_PORT="${INGRESS_BACKEND_SERVICE_PORT}"
INGRESS_NAMESPACE="${INGRESS_NAMESPACE}"
ELASTIC_IP_NAME="${ELASTIC_IP_NAME}"
