ZONE="${ZONE}"
EKS_CLUSTER_NAME="${EKS_CLUSTER_NAME}"
GA_NAME="${GA_NAME}"
INGRESS_BACKEND_SERVICE_NAME="${INGRESS_BACKEND_SERVICE_NAME}"
INGRESS_BACKEND_SERVICE_PORT="${INGRESS_BACKEND_SERVICE_PORT}"
